section {
	background-size: cover;
	padding: 60px 1.5rem 0;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	@media all and (max-width: 64rem) {
		padding-top: 30px
	}
}

.image-container img {
	display: block;
	padding: 12px;
	box-sizing: content-box;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.breaker img {
	height: 100%;
	display: block;
	width: 100%;
}

.breaker {
	padding-bottom: 100px;
}

.slick-dots {
	position: absolute;
	margin: 0;
	bottom: 20px;
	width: 100%;
	left: -30px;
	right: 0;
	text-align: center; // left: 33%;
	margin-left: auto;
	margin-right: auto;
	@media all and (max-width: 64rem) {
		display: none !important;
	}
	li {
		display: inline-block;
		button {
			text-indent: -999999px;
			border-radius: 50%;
			width: 10px;
			height: 10px;
			margin: 0 5px;
			border: 2px solid #FFF;
			background: none;
			&:hover {
				background: #FFF;
			}
		}
		&.slick-active {
			button {
				background: #FFF;
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	@media all and (max-width: 640px) {
		padding-left: 1rem;
		padding-right: 0.5rem;
	}
}

.off-canvas {
	background: #FFF;
	border-top: 44.5px solid $blue;
	outline: 0;
	height: 100%;
	.close-button {
		font-weight: bold;
		position: absolute;
		font-family: $Lato;
		color: $darkGray;
		outline: 0;
		top: 13.5px;
		right: 15px;
		font-size: 2rem;
	}
	li {
		margin-bottom: 3rem;
		@media all and (max-width: 360px) {
			margin-bottom: 2.5rem;
		}
		a {
			color: $blue;
			font-weight: bold;
			font-size: 1.5rem;
			text-transform: uppercase;
		}
	}
}

.is-off-canvas-open {
	position: fixed;
}